*{
    padding: 0px;
    margin: 10px;

}

body{
    background-color: rgb(250, 245, 245);
    font-family: Arial;
}

.container{
    max-width: 90%;
    margin-inline: auto;
    background-color: rgba(47, 182, 159, 0.808);
    padding-left: 100px;
}

.signup-form .container{
    display: flex;
    max-width: 90%;
    
}

.signup-form img{
    border: 1px solid white;
    height: 400px;
    width: 350px;
    
}


.form-group input{
    margin: 10px 0px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(47, 182, 159, 0.808);
    color: white;
    
}

a, p, h1, h5{
    text-decoration: none;
    color: white;
    text-align: center;
}

.form-group{
    border: 1px solid black;
    height: 40px;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: rgba(47, 182, 159, 0.808);
    padding-left: 70px;
}

button{
    padding: 5px 0px 0px 70px;
    border: none;
    background-color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(47, 182, 159, 0.808);
    color: white;   
}

.fa-solid{
    color: white;
}

::placeholder {
    color: white;
    opacity: 0.7;
  }